body{
    text-align: center;
    background-color:rgb(188, 194, 197);
}
h1{
    font-size: 30px;
    color: black;
}
p{
    font-size: 20px;
    color: mediumorchid;
}
.flex-container{
    display: flex;
    border-style: solid;
    border-color: darkblue;
    background-color: bisque;
    justify-content: space-between;
}
.flex-container div{
    font-size: 40px;
    color: darkolivegreen;
    align-content: center;
}
.flex-container2{
    background-color:cornflowerblue ;
    text-align: center;
}
a{
    color:brown ;
    font-size: 30px;
    margin: 20px;
}
a:hover{
    color: crimson;
}
img{
    margin: 20px;
}
iframe{
    margin: 20px;
}
table{
    border-style: dotted;
    border-color: crimson;
    position: relative;
    left: 39%;
    top: 20px;
}
td{
    border-style: solid;
    border-color: crimson;
}
#linha01{
    color: crimson;
}
.referencias{
    color: black;
    font-size: 20px;
    position:absolute;
    left: 37%;
    background-color: goldenrod;
}
#paragrafo{
    position: absolute;
    left: 0%;
    color: black;
}
.link{
    font-size: 20px;
    color: crimson;
}
.flex-container3{
    text-align: center;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.flex-container3 div{
    align-content: center;
}
